main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98%;
    gap: 1em;
    margin-top: 1em;
    align-items: center;
}

main > div {
    width: 100%;
    height: 100%;
    border-top: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-top: 1em;
    padding: 2em;
    width: 40%;
    background: #ffff;
    height: 65%;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px #888888;
}

main > div > div > button {
    background-color: #36454F;
    color: #ffff;
    border: 2px solid transparent;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1em;
    width: fit-content;
    padding: 0 1.5em;
    font-family: 'Lucida Sans Unicode';
}

main > div > div > button:enabled:hover { 
    cursor: pointer;
    background-color: #FFBF00;
}

main > div > div > button:disabled { 
    cursor: not-allowed;
}

main > div > div > h2 {
    margin-top: 0.5em;
}

main > div > div > div >  input {
    font-size: 1.2em;
    text-align: center;
    border-radius: 15px;
    outline: none;
    border: 2px solid #000000;
}

main > div > div > div >  label {
    font-weight: bolder;
    padding-left: 0.5em;
    font-size: 1em;
}

main > div > div > div {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 0.5em;  
}


.error, .success {
    border-radius: 15px;
    color: #ffff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    text-align: center;
}

.error {
    background: #ff0000b3;
}
.success {
    background: #008000; 
}

ul > li {
    list-style-type: disc;
    margin-left: 1.5em;
}

.validation {
    color: #000000;
    background-color: #ffffff;
}

.fa-circle-notch {
    font-size: 3em;
    animation: spinner 1.5s linear infinite;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.loading > p  {
    font-size: 1em;
    font-family:  'Lucida Sans Unicode';
}

.bottom {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    width: fit-content;
    height: 20%;
    align-items: normal !important;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}


