<main>
    <div>
        <div>
            <div>
                <label>CPF/CNPJ: </label>
                <input 
                    #inputField type="text"
                    (keypress)="handleKeydown($event, inputField)">
            </div>
            <button [disabled]="loading"
                type="button" 
                (click)="handleClick(inputField)">
                SALVAR
            </button>
            <div *ngIf="!(postError || success || loading)" class="bottom validation">
                <p>O texto deve conter:</p>
                <ul>
                    <li>Máximo de 14 caracteres;</li>
                    <li>Apenas números.</li>
                </ul>
            </div>
            <div *ngIf="postError" class="bottom error">
                <p>Falha no cadastro, verifique se <br> o cliente já existe. </p>
            </div>
            <div *ngIf="success" class="bottom success">
                <p>Cliente cadastrado com sucesso!</p>
            </div>
            <div *ngIf="loading" class="bottom loading">
                <p>Aguarde, o processo pode <br> demorar alguns instantes...</p>
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                </div>
            </div>
        </div>
    </div>
</main>
