<div>
    <label>Filter</label>
    <input type="text" #filter (change)="filterChange(filter)">
</div>
<div *ngIf="companies[0]?.codigo; else elseBlock">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Razão Social</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let company of companies">
                <tr *ngIf="company.show == true">
                    <td>{{company.id}}</td>
                    <td>{{company.razaoSocial}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <ul >
    </ul>
</div>
<ng-template #elseBlock>
    <div>
        <p>Nenhuma empresa encontrada!</p>
    </div>
</ng-template>
