<main>
   <app-filter 
        [companies]="companies" 
        (hasFilterResults)="hasResults=$event"
        [filterCount]="filterCount"
    />
    <div class="card-container" *ngIf="companies && hasResults; else elseBlock">
        <ng-container *ngFor="let company of companies">
            <div 
                *ngIf="company.show"
                class="source-tag" 
                [ngStyle]="company.dataSource == 'Sintegra' ?
                    {'background-color': '#aef203'} : {'background-color': '#FF8F00'}">
                <p>{{company.dataSource | isblank}}</p>
            </div>
            <div class="card" *ngIf="company.show">
                <fieldset [ngClass]="company.errorMessage ? 'error' : ''">
                    <legend>Empresa</legend>
                    <div>
                        <label>
                            <strong>CNPJ/CPF: </strong>
                            {{company.codigo | formatcode | isblank}}
                        </label>
                    </div>
                    <div>
                        <label>
                            <strong>NOME: </strong>
                            {{company.razaoSocial | isblank}}
                        </label>
                    </div>
                    <div>
                        <label>
                            <strong>ATIVIDADE PRINCIPAL: </strong>
                            {{company.atividadePrincipal | isblank}}
                        </label>
                    </div>
                    <div>
                        <label>
                            <strong>ENDEREÇO: </strong>
                            {{company.endereco | isblank}}
                        </label>
                    </div>
                    <div>
                        <label>
                            <strong>REGIME: </strong>
                            {{company.regimeApuracao | isblank}}
                        </label>
                    </div>
                    <div>
                        <label>
                            <strong>SITUAÇÃO: </strong>
                            {{company.situacao | isblank}}
                        </label>
                    </div>
                    <div *ngIf="company.razaoSocial && company.lastUpdateClientes">
                        <p class="last-update">Atualizado em: {{company.lastUpdateClientes | date:"dd/MM/yyyy"}}</p>
                    </div>
                </fieldset>
                <fieldset id="estado" [ngClass]="company.errorMessage ? 'error' : ''">
                    <legend>Estado</legend>
                    <div>
                        <label>
                            <strong>INSCRIÇÃO: </strong>
                            {{company.inscricaoEstadual | isblank}}
                        </label>
                        <label>
                            <strong>RESPONSÁVEL: </strong>
                            {{company.responsavelSefaz | isblank}}
                        </label>
                    </div>
                    <div *ngIf="company.inscricaoEstadual && company.lastUpdateSefaz">
                        <p class="last-update">Atualizado em: {{company.lastUpdateSefaz | date:"dd/MM/yyyy"}}</p>
                    </div>
                </fieldset>
                <fieldset id="municipio" [ngClass]="company.errorMessage ? 'error' : ''">
                    <legend>Município</legend>
                    <div>
                        <label>
                            <strong>INSCRIÇÃO: </strong>
                            {{company.inscricaoMunicipal | isblank}}
                        </label>
                        <label>
                            <strong>RESPONSÁVEL: </strong>
                            {{company.responsavelPrefeitura | isblank}}
                        </label>
                        <label>
                            <strong>CCP: </strong>
                            {{company.ccp?.toString()| isblank}}
                        </label>
                    </div>
                    <div *ngIf="(company.inscricaoMunicipal || company.lastUpdatePrefeitura) && company.lastUpdatePrefeitura">
                        <p class="last-update">Atualizado em: {{company.lastUpdatePrefeitura | date:"dd/MM/yyyy"}}</p>
                    </div>
                </fieldset>
            </div>
        </ng-container>
    </div>
    <ng-template #elseBlock>
        <div class="no-results">
            <strong>
                <p *ngIf="companies">Nenhum cliente encontrado!</p>
                <p *ngIf="!companies">O servidor não retornou nenhum dado!</p>
            </strong>
        </div>
    </ng-template>
</main>
