.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    background-color: #1434A4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    color: #fff;
}