main {
    height: 81vh;
}

.card-container {
    overflow-y: scroll;
    height: 100%;
    margin-top: -1em;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 0.5em 1em;
    margin: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
}

.card > fieldset > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card > fieldset > div > label {
    width: 100%;
    margin: 0.5em 1em;
}

fieldset {
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

legend {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    color: #0437F2;
}

.no-results {
    padding-top: 3em;
    font-size: 1.2em;
    text-align: center;
}

.last-update{
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.tag {
    border: 2px solid transparent;
    width: 40%;
    margin-left: 1em;
    text-align: center;
    color: #fff;
    font-family: math;
    position: relative;
    top: 1.3em;
    left: -0.5em;
    font-style: italic;
    font-size: 1em;
    border-bottom-right-radius: 15px;
    background: #32CD32;
}

.error {
    border-color: red;
}

#estado, #municipio {
    display: flex;
    flex-wrap: wrap;
}

#estado > div, #municipio > div {
    width: 100%;
}

#estado > div > label, #municipio > div > label   {
    width: 30%;
}

.fa-trash {
    font-size: 1.5em;
    padding-right: 0.5em;
}

.fa-trash:hover {
    cursor: pointer;
}

.confirm-popup {
    border: 2px #000000 solid;
    padding: 1em 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    width: 16em;
    height: 6em;
    align-self: center;
}

.confirm-popup > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.confirm-popup > p {
    font-size: 1.2em;
    opacity: 1;
}

.button-yes, .button-no {
    width: 5em;
    color: #ffff;
    border: 2px transparent;
    border-radius: 15px;
    padding: 0.2em 1em;
    margin-top: 1em;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

.button-yes {
    background-color: #008000;
}

.button-no {
    background-color: #ff0000;
}

.overlay {
    background-color: #a09f9fa3;
    position: absolute;
    height: 80%;
    width: 87%;
    display: flex;
    justify-content: center;
}
