<main class="container" *ngIf="showCharts; else elseBlock">
  <div class="pie-container">
    <h2>Situação Geral</h2>
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasetsSituacao"
      [labels]="pieChartLabelsSituacao"
      [options]="pieChartOptions"
      class="pie">
    </canvas>
  </div>
  <div  class="pie-container">
    <h2>Regimes de Apuração dos Clientes Ativos</h2>
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasetsRegime"
      [labels]="pieChartLabelsRegime"
      [options]="pieChartOptions"
      [title]="'Regime'"
      class="pie">
    </canvas>
  </div>
  <div class="pie-container">
    <h2>Clientes Ativos com Inscrição Municipal <br> por Responsável (Catalão)</h2>
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasetsResponsaveisPrefeitura"
      [labels]="pieChartLabelsResponsaveisPrefeitura"
      [options]="pieChartOptions"
      class="pie">
    </canvas>
  </div>
  <div class="pie-container">
    <h2>Clientes Ativos com Inscrição Estadual  <br> por Responsável (GO)</h2>
    <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasetsResponsaveisEstado"
      [labels]="pieChartLabelsResponsaveisEstado"
      [options]="pieChartOptions"
      class="pie">
    </canvas>
  </div>
</main>
<ng-template #elseBlock>
  <main class="error">
    <h2>Sem dados para exibir, o servidor não retornou nenhum resultado.</h2>
  </main>
</ng-template>
