.container  {
    display: flex;
    width: 100%;
    height: 87vh;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-direction: row;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60%;
    margin: 2em 0;
}

.chart-container > h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 1em;
}

.chart-container > div > table {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
    width: 60%;
    border-collapse: collapse;
}

.chart-container > div > table > tr {
    border: 2px solid #D3D3D3;
}

.chart-container > div > table > tr > th {
    width: 35%;
    background-color: #1F51FF;
    color: #ffff;
    padding: 0.1em 0;
}

.table-scroll {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.error {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
