.menu-container {
    height: 100%;
    background-color: #1434A4;
    color: #fff;
    border-top-right-radius: 15px;
}

.menu > ul {
    width: 100%;
    font-family: cursive;
}

.menu > ul > li {
    padding: 0.5em 10%;
    cursor: pointer;
}

.menu > ul > li:hover {
    background-color: #A9A9A9;
    color: #ffff;
}