.filter-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-top: 0.5em;
    margin-left: 0.4em;
    margin-right: 1.3em;
    height: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    z-index: 1000;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    background-color: #fff;
}

.filter > input {
    margin-left: 1%;
    width: 35%;
    font-size: 0.8em;
    padding-left: 1em;
    height: 1.5em;
}

.filter > button{
    width: 3em;
    height: 1.7em;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid black;
}

.filter > button:hover {
    cursor: pointer;
}

.fa-solid {
    margin-left: 2%;
}
