.filter-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 9999;
    position: relative;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    height: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    width: 95%;
    background-color: #fff;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    gap: 0.5em;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 35%;
}

.filter > div > input {
    font-size: 0.8em;
    padding-left: 1em;
    height: 1.5em;
    width: 100%;
}

.filter > div > button {
    width: 3em;
    height: 1.7em;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #000000;
}

.filter > div > button:hover {
    cursor: pointer;
}

.fa-solid {
    margin-left: 2%;
}

.filter > select {
    width: max-content;
    height: 1.7em;
}

.results {
    font-weight: bolder;
    width: 25%;
    text-align: center;
}

.empty-checkbox {
    width: 5%;
    display: flex;
    gap: 0.5em;
}

.fa-file-excel{
    color: #32CD32;
    font-size: 1.5em;
}

.excel-icon-container > p {
    font-size: 0.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.excel-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.excel-icon-container:hover {
    cursor: pointer;
}